<section id="members" class="home-section">
    <div class="container">
        
        <!-- Section heading -->
        <div class="row">
            <div class="col-xs-12 col-md-4 section-heading">
                <h1 class="section-heading"><a href="{{.Site.BaseURL}}/team/{{if .Site.Params.uglyURLs}}index.html{{end}}"> Team </a></h1>
            </div>
        </div>
       
        <!-- Members -->
        <div class="row">
            {{ range (sort (where .Site.RegularPages "Type" "member") ".Params.sort_position")}}
                {{ if not .Params.is_former_member }}
                    {{ if not .Params.is_visit_member}}
                        {{ partial "member_simple" . }}
                    {{ end }}
                {{ end }}
            {{ end }}
        </div>
        
        <!-- Link to all members -->
        <div>
            <p class="view-all">
                <a href="{{ .Site.BaseURL }}/team/{{if .Site.Params.uglyURLs}}index.html{{end}}">
                    Full team
                    <i class="fa fa-angle-double-right"></i>
                </a>
            </p>
        </div>
    </div>
</section>