{{ $news_len := len (where .Site.RegularPages "Type" "news") }}
{{ if gt $news_len 0 }}
<section id="news" class="home-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4 section-heading">
                <h1><a href="{{.Site.BaseURL}}/publication/{{if .Site.Params.uglyURLs}}index.html{{end}}">{{ with .Site.Params.news.title }}{{ . | markdownify }}{{ end }}</a></h1>
                {{ with .Site.Params.news.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
            </div>
            <div class="col-xs-12 col-md-8">
                {{ range first .Site.Params.news.count (where .Site.RegularPages "Type" "news") }}
                    {{ partial "news_li_detailed" . }}
                {{ end }}
            </div>
        </div>
        <div>
            {{ if gt $news_len .Site.Params.news.count }}
            <p class="view-all">
                <a href="{{ .Site.BaseURL }}/publication/{{if .Site.Params.uglyURLs}}index.html{{end}}">
                    {{ with .Site.Params.news.str_all }}{{ . | markdownify }}{{ end }}
                    <i class="fa fa-angle-double-right"></i>
                </a>
            </p>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}