<div class="pub-list-item" itemscope itemtype="http://schema.org/CreativeWork">
    <div class="row">
        <div class="col-md-12">

            <div class="pub-title" itemprop="name">
                {{ .Date.Format "Jan, 2006: " | chomp}} {{ .Title| markdownify}}
            </div>
            
        </div>
    </div>
</div>