{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="container">
    <h1>Team</h1>
    {{ range (sort .Data.Pages ".Params.sort_position") }}
            {{partial "member_li" .}}
    {{ end }}
</div>

{{ $alumni_len := len (where .Site.RegularPages "Section" "alumni" ) }}
{{ if gt $alumni_len 0 }}

<div class="container">
    <h1>Former member</h1>
    {{ range (sort (where .Site.RegularPages "Section" "alumni") ".Params.data" "desc") }}
        {{ if .Params.is_former_member}}
            {{ partial "alumni_li" . }}
        {{ end }}
    {{ end }}

    {{ range (sort (where .Site.RegularPages "Section" "alumni") ".Params.data" "desc") }}
        {{ if .Params.is_visit_member}}
            {{ partial "alumni_li" . }}
        {{ end }}
    {{ end }}
{{ end }}
</div>

{{ $collaborator_len := len (where .Site.RegularPages "Section" "collaborator" ) }}
{{ if gt $collaborator_len 0 }}
<div class="container">
    <h1>Collaborator</h1>
    {{ range (sort (where .Site.RegularPages "Section" "collaborator") ".Params.sort_position") }}
        {{ partial "alumni_li" . }}
    {{ end }}
{{ end }}
</div>

{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
