{{ partial "header.html" . }}

{{ partial "navbar.html" . }}


<div class="container">

    <div class="pub" itemscope itemtype="http://schema.org/CreativeWork">
        <div class="pub-title">
            <h1 itemprop="name">{{ .Title }}</h1>
            <span class="pub-authors" itemprop="author">
                {{ with .Params.cur_author}}
                    {{. | markdownify}}
                {{ end }}
            </span>
            <span class="pull-right">
                {{ partial "share.html" . }}
            </span>
        </div>

        {{ if .Params.image }}
        <img src="{{ $.Site.BaseURL }}img/{{ .Params.image }}" class="pub-banner" itemprop="image">
        {{end}}

        <h3>Abstract</h3>
        <p class="pub-abstract" itemprop="text">{{ .Params.abstract | markdownify }}</p>

        <div class="row">
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 pub-row-heading">Publication</div>
                    <div class="col-xs-12 col-sm-9">{{ .Params.publication | markdownify }}</div>
                </div>
            </div>
        </div>
        <div class="visible-xs space-below"></div>

        {{ with .Params.award }}
        <div class="row">
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 pub-row-heading">Award</div>
                    <div class="col-xs-12 col-sm-9" itemprop="datePublished">
                        {{ . }}
                    </div>
                </div>
            </div>
        </div>
        {{ end }}

        <div class="row">
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 pub-row-heading">Date</div>
                    <div class="col-xs-12 col-sm-9" itemprop="datePublished">
                        {{ if .Params.to_be_published }}
                            To be published in
                        {{ end }}
                        {{ .Date.Format "January, 2006" }}
                    </div>
                </div>
            </div>
        </div>

        <div class="visible-xs space-below"></div>

        <div class="row" style="padding-top: 10px">
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 pub-row-heading" style="line-height:34px;">Links</div>
                    <div class="col-xs-12 col-sm-9">

                        {{ partial "publication_links" (dict "content" . "is_list" 0) }}

                    </div>
                </div>
            </div>
        </div>
        <div class="visible-xs space-below"></div>

        <div class="space-below"></div>

        <div class="article-style">{{ .Content }}</div>

    </div>


</div>

{{ partial "footer_container.html" . }}
{{ partial "footer.html" }}
